# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
./code/web/.DS_Store
./code/web/node_modules/
./code/web/dist/
./code/web/npm-debug.log*
./code/web/yarn-debug.log*
./code/web/yarn-error.log*
./code/web/package-lock.json
./code/web/tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
